<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper:根标签，namespace：命名空间，随便写，一般保证命名空间唯一 -->

<mapper namespace="StudentMapper">
    <select id="selectStudent" resultType="com.lpy.mybatis.pojo.Student">
        select *
        from student
        where id = #{id};
    </select>
    <select id="queryStudentAll" resultType="com.lpy.mybatis.pojo.Student">
        select *
        from student;
    </select>

    <insert id="insertStudent" parameterType="com.lpy.mybatis.pojo.Student">
        insert into student (id, `name`, age, score, sex, clazz)
        values (#{id}, #{name}, #{age}, #{score}, #{sex}, #{clazz});
    </insert>

    <update id="updateStudent" parameterType="com.lpy.mybatis.pojo.Student">
        update student
        <trim prefix="set" suffixOverrides=",">
            <if test="id != null">`id` = #{id},</if>
            <if test="name != null">`name` = #{name},</if>
            <if test="age > 0">age = #{age},</if>
            <if test="score != null">score = #{score},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="clazz != null">clazz = #{clazz}</if>
        </trim>
        where (id = #{id});

    </update>
    <delete id="deleteStudent">
        delete
        from student
        where id = #{id};
    </delete>
</mapper>