<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lpy.springmvc.mapper.CustomerMapper">
    <sql id="customerQueryVo">
        <where>
            <if test="custName != null and custName != ''">
                AND a.cust_name LIKE '%${custName}%'
            </if>
            <if test="custSource != null and custSource != ''">
                AND a.cust_source = #{custSource}
            </if>
            <if test="custIndustry != null and custIndustry != ''">
                AND a.cust_industry = #{custIndustry}
            </if>
            <if test="custLevel != null and custLevel != ''">
                AND a.cust_level = #{custLevel}
            </if>
        </where>
    </sql>
    <sql id="Base_Column_List">
        cust_id,
        cust_user_id,
        cust_linkman,
        cust_zipcode,
        cust_address,
        cust_mobile,
        cust_createtime,
        cust_source,
        cust_create_id,
        cust_industry,
        cust_name,
        cust_level,
        cust_phone
    </sql>
    <select id="queryCustomerByQueryVo"
            parameterType="com.lpy.springmvc.pojo.QueryVo"
            resultType="com.lpy.springmvc.pojo.Customer">

        SELECT
        a.cust_id,
        a.cust_name,
        a.cust_user_id,
        a.cust_create_id,
        b.dict_item_name cust_source,
        c.dict_item_name cust_industry,
        d.dict_item_name cust_level,
        a.cust_linkman,
        a.cust_phone,
        a.cust_mobile,
        a.cust_zipcode,
        a.cust_address,
        a.cust_createtime
        FROM
        customer a
        LEFT JOIN base_dict b ON a.cust_source = b.dict_id
        LEFT JOIN base_dict c ON a.cust_industry = c.dict_id
        LEFT JOIN base_dict d ON a.cust_level = d.dict_id
        <include refid="customerQueryVo"/>
        <if test="start != null">
            LIMIT #{start},#{rows}
        </if>
    </select>
    <!--根据queryvo 查询数据条数-->
    <select id="queryCountByQueryVo"
            parameterType="com.lpy.springmvc.pojo.QueryVo"
            resultType="int">
        SELECT count(1) FROM customer a
        <include refid="customerQueryVo"/>
    </select>
    <select id="queryCustomerById" resultType="com.lpy.springmvc.pojo.Customer">
        select
        <include refid="Base_Column_List"/>
        from customer where cust_id = #{id}


    </select>
    <update id="updateCustomerById" parameterType="com.lpy.springmvc.pojo.Customer">

        UPDATE customer SET
        <if test="cust_name != null and cust_name != ''">
            cust_name = #{cust_name},
        </if>
        <if test="cust_user_id != null">
            cust_user_id = #{cust_user_id},
        </if>
        <if test="cust_create_id != null">
            cust_create_id = #{cust_create_id},
        </if>
        <if test="cust_source != null and cust_source != ''">
            cust_source = #{cust_source},
        </if>
        <if test="cust_industry != null and cust_industry != ''">
            cust_industry = #{cust_industry},
        </if>
        <if test="cust_level != null and cust_level != ''">
            cust_level = #{cust_level},
        </if>
        <if test="cust_linkman != null and cust_linkman != ''">
            cust_linkman = #{cust_linkman},
        </if>
        <if test="cust_phone != null and cust_phone != ''">
            cust_phone = #{cust_phone},
        </if>
        <if test="cust_mobile != null and cust_mobile != ''">
            cust_mobile = #{cust_mobile},
        </if>
        <if test="cust_zipcode != null and cust_zipcode != ''">
            cust_zipcode = #{cust_zipcode},
        </if>
        <if test="cust_address != null and cust_address != ''">
            cust_address = #{cust_address},
        </if>
        cust_createtime = NOW()
        WHERE
        (cust_id = #{cust_id})
    </update>
    <delete id="deleteCustomerById">
        DELETE FROM customer WHERE cust_id = #{cust_id}

    </delete>
    <insert id="addCustomer" parameterType="com.lpy.springmvc.pojo.Customer">
        insert into customer(
        <include refid="Base_Column_List"/>
        )
        values (
        null,
        #{cust_user_id},
        #{cust_linkman},
        #{cust_zipcode},
        #{cust_address},
        #{cust_mobile},
        NOW(),
        #{cust_source},
        #{cust_create_id},
        #{cust_industry},
        #{cust_name},
        #{cust_level},
        #{cust_phone}
        );
    </insert>
</mapper>

